
:root {
    --bg-title: #F2F0EB;
    --btn-active: #6a9fe5;
    --btn-disabled: #EEE;
    --btn: rgba(89, 218, 89, 0.8);
    --btn-undo: rgba(238, 39, 34, 0.96);
}

html, body {
    padding: 0;
    margin: auto;
    width: 100%;
    background-color: grey;
}


.titre {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    background: white;
    margin-top: 10px;
}

.grandTable {
    /*	table-layout: fixed;
    */	width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.grandTd{
    height: 80%;
    width: 50%;
    margin-top: 100px;
}

.quantik-title {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.quantik {
    margin-top: 2rem;
}

.quantik div  {
    text-align: center;
    /*border-top: 1px solid #000;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #000;
}

.quantik table {
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.quantik-btn {
    margin: 2px;
    background: var(--btn);
    border-radius: 2rem;
    border: 1px solid #666;
    padding: 1rem 3rem;
    box-shadow: inset 0px -10px 3px #32a932;
}

.quantik-btn:active {
    transition: box-shadow .3s;
    box-shadow: unset !important;
}

.quantik-btn:disabled {
    background: var(--btn-disabled);
    border-radius: 2rem;
    box-shadow: unset !important;
}

.quantik-btn-selected {
    background: var(--btn-active) !important;
    position: relative;
}

.quantik-btn-selected:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    border: 3px solid var(--btn-active);
    border-radius: 2rem;
    animation: btn-selected;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: opacity 1s;
    opacity: 1;
}

.quantik-btn-undo {
    background: var(--btn-undo) !important;
    border: 1px solid #FF0000 !important;
    box-shadow: inset 0px -10px 3px #990000 !important;
}

.quantik-reset {
    text-align: center;
}

.quantik-end-msg {
    text-align: center;
    display: inline-block;
    border: 1px solid red;
}


@keyframes btn-selected {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scaleX(1.1) scaleY(1.3);
        opacity: 0;
    }
}

.quantikDispo{
    border: 1px solid;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px  1px;
    width: 550px;
}
.quantikSelect{
    border: 1px solid;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px  1px;
    width: 550px;
}
.quantik-Plateau{
    border: 1px solid;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px  1px;
    height: 310px;
}
.quantikDivPlateau{
    border: 1px solid ;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px  2px;
    height: 470px;
    margin-top: 50px;
    width: 88%;
    margin-left: 30px;
}

h2{
    text-align: center;
}

.borureArrondi {
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;

}

/*.form1 {
    background: url('http://imgur.com/I0EwG.png') transparent;
    border: none;
}*/
.quantik-btn-1{
    background-color: #fff;
    border: 2px solid #000;
    padding: 0;
    margin: 5px;
    width: 108px;
    height: 108px;
    cursor: pointer;
    border-radius: 4px;
    float: left;
}





